
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>AIGS: Generating Science from AI-Powered Automated Falsification</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <link rel="icon" type="image/x-icon" href="assets/static/logo.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#e77500">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="assets/css/style.css?v=45f0ca61791519786076f617c078c56a89823b60">
    <!-- Relative Path to find the correct css !!! -->

    <!-- MathJax -->
    <script
      type="text/javascript"
      async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"
    >
    </script>

    <!-- OG cards, including feishu, facebook, etc. -->
    <meta name="og:title"   content="AI-Generated Science">
    <meta name="og:image"   content="https://agent-force.github.io/assets/static/preview-card.png">
    <meta name="og:description" content="AIGS: Generating Science from AI-Powered Automated Falsification">
    <meta name="og:url" content="https://agentforceteamofficial.github.io/AIGS-Web/">

    <!-- Twitter cards -->
    <meta name="twitter:title"   content="AI-Generated Science">
    <meta name="twitter:card"    content="summary_large_image">
    <meta name="twitter:image"   content="https://agent-force.github.io/assets/static/preview-card.png">
    <meta name="twitter:description" content="AIGS: Generating Science from AI-Powered Automated Falsification">
  </head>
  <body>
    <header class="page-header" role="banner">
      <font size=6><b>AIGS: Generating Science from AI-Powered Automated Falsification</b></font>

      <div style="margin-top: 2rem">
        <span class="author-block">
          <font size=4><a href="https://github.com/BBQGOD" style="text-decoration: none; color: inherit;">Zijun Liu<sup>1,*</sup></a></font>,
        </span>
        <font size=4><span class="author-block">Kaiming Liu<sup>1,*</sup>,</span></font>
        <font size=4><span class="author-block">Yiqi Zhu<sup>1,*</sup>,</span></font>
        <font size=4><span class="author-block">Xuanyu Lei<sup>1,2,*</sup>,</span></font>
        <span class="author-block">
          <font size=4><a href="https://minicheshire.github.io/" style="text-decoration: none; color: inherit;">Zonghan Yang<sup>1,*</sup></a></font>,
        </span>
        <font size=4><span class="author-block">Zhenhe Zhang<sup>1</sup>,</span></font>
        <span class="author-block">
          <font size=4><a href="https://www.lpeng.net/" style="text-decoration: none; color: inherit;">Peng Li<sup>2</sup>,</a></font>
        </span>
        <span class="author-block">
          <font size=4><a href="https://nlp.csai.tsinghua.edu.cn/~ly/" style="text-decoration: none; color: inherit;">Yang Liu<sup>1,2</sup></a></font>
        </span>

      </div>
      
      <div style="margin-top: 1rem">
        <font size=4><sup>*</sup> Equal Contribution </font><br>
        <font size=4><sup>1</sup> <a href="https://www.cs.tsinghua.edu.cn/csen/">Department of Computer Science and Technology, Tsinghua University</a></font><br>
        <font size=4><sup>2</sup> <a href="https://air.tsinghua.edu.cn/en/">Institute for AI Industry Research (AIR), Tsinghua University</a></font><br>
      </div>
      
      <a href="" class="btn"><b>📝&emsp;Paper</b></a>
      
      <a href="https://github.com/AgentForceTeamOfficial/Baby-AIGS" class="btn"><b>💰&emsp;Code</b></a>

      <!-- <a href="" class="btn"><b>💻&emsp;Thread</b></a>

      <a href="" class="btn"><b>💻&emsp;Blog</b></a> -->
      
    </header>

    <main id="content" class="main-content" role="main">
      <div style="text-align:center;margin-bottom: 2rem">
          <font size=4> Examples of scientific research processes conducted by human beings. Explicit **falsification** serves as a vital stage to falsify or verify the proposed hypotheses from either empirical or theoretical experiments, leading to the ultimate scientific discovery. </font>
          <br>
      </div>

      <div style="text-align:center;">
        <img src="assets/static/first.png" width="100%">
      </div>

      {{ content }}

      <footer class="site-footer">
        <span style="vertical-align: middle"><b>This project is powered by</b></span> <img src="assets/static/logo.jpg" style="width:3em;vertical-align: middle" alt="Logo"/> <span style="vertical-align: middle"><b>AgentForce Team, affiliated with <a href="https://www.cs.tsinghua.edu.cn/csen/">DCST</a> and <a href="https://air.tsinghua.edu.cn/en/">AIR</a> in Tsinghua University. </b></span>
        </span>
      </footer>
    </main>
  </body>
</html>